@font-face {
  font-family: 'Raleway';
  src: local('Raleway', url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype'));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

section {
  min-height: 100vh;
}

.underline {
  width: 150px; 
  border-top: 2px solid black; 
  margin: 5px auto;
}

#landing {
  background: url("../images/danist-unsplash.jpg");
  background-size: cover;
  background-position: center;
  padding: 0rem 5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
  font-family: Raleway, sans-serif;
  position: fixed;
  top: 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links > li {
  padding-left: 3rem;
}

.nav-links a:hover {
  border-bottom: 2px solid black;
}

.title-text {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 2rem;
}

.section-text {
  font-size: 3rem;
  margin-top: 2%;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-item {
  border-radius: 10px;
  min-width: 400px;
  min-height: 400px;
  margin: 2%;
  background-color: rgb(245, 245, 245);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
  padding: 5%;
}

.bunnyhops {
  background-image: url('../images/bunnyhops.jpg');
}

.quiz{
  background-image: url('../images/quiz.jpg');
}

.vanilla-todo {
  background-image: url('../images/vanilla-todo.jpg');
}

.portfolio-item-image {
  background-size: cover;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* .slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(227, 242, 255);
  font-family: Raleway, sans-serif;
  font-size: 2rem;
} */

/* .hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
} */