* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  min-height: 100vh;
  background: url("../images/danist-unsplash.jpg");
  background-size: cover;
  padding: 0rem 5rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 10vh;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links > li {
  padding-left: 3rem;
}

a {
  text-decoration: none;
}