@font-face {
  font-family: 'Raleway';
  src: local('Raleway', url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype'));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

section {
  min-height: 100vh;
}

.underline {
  width: 150px; 
  border-top: 2px solid black; 
  margin: 5px auto;
}

#landing {
  background: url("../images/photoholgic-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  font-family: Raleway, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: ease-in-out 0.5s;
}

.scrolled {
  background-color: white;
}

.scrolled > .nav-links {
  color: black;
}

.scrolled > .nav-links > .nav-link > .active {
  border-bottom: 2px solid black;
}

.nav-links {
  display: flex;
  list-style: none;
  color: white;
}

.nav-links > li {
  padding-left: 3rem;
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

.nav-links a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
  padding-bottom: 3px;
}

.title-text {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 2rem;
  color: white;
}

.title-text > p {
  max-width: 60%;
  margin: 2% 0;
  text-shadow: 1px 1px 1px rgb(73, 73, 73, 0.5);
}

.section-text {
  font-size: 3rem;
  margin-top: 2%;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio {
  background-color: rgb(245, 245, 245);
  padding-top: 2%;
}

.portfolio-item {
  min-width: 400px;
  min-height: 400px;
  margin: 2% 0;
  position: relative;
}

.portfolio-item-text {
  text-align: center;
  width: 80%;
  margin: 5% auto;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 80vh;
  align-items: center;
  padding: 0 5%;
}

.bunnyhops {
  background-image: url('../images/bunnyhops.jpg');
}

.quiz{
  background-image: url('../images/quiz.jpg');
}

.vanilla-todo {
  background-image: url('../images/vanilla-todo.jpg');
}

.portfolio-item-image {
  background-size: cover;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.hide {
  display: block;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: visibility, 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.portfolio-item:hover .hide {
  visibility: visible;
  opacity: 1;
}

.hidden-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;
}

.hidden-content > a {
  margin: 5px;
  padding: 7px 25px;
  border: 1px solid rgb(72, 72, 250);
  border-radius: 3px;
  transition: 0.3s ease-in-out;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.hidden-content > p {
  font-weight: lighter;
  margin-bottom: 7%;
}

.hidden-content > a:hover {
  background-color: rgb(72, 72, 250);
  color: white;
  cursor: pointer;
}

.about-content {
  margin: 0 5%;
  min-height: 80vh;
  display: flex;
}

.about-me {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-str {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about-str > svg {
  display: flex;
  justify-self: center;
  align-self: center;
  color: rgba(10, 0, 200, 0.5);
}

.text-box {
  margin: 7% 0 5% 10%;
  color: rgb(73, 73, 73);
}

.text-box > * {
  margin-top: 2%;
}

.text-box > h3 {
  font-size: 24px;
}

.about-img-container {
  height: 40vh;
  width: 40vh;
}

.about-img-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* .slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(227, 242, 255);
  font-family: Raleway, sans-serif;
  font-size: 2rem;
} */

/* .hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
} */