@font-face {
  font-family: 'Raleway';
  src: local('Raleway', url(../fonts/Raleway-VariableFont_wght.ttf) format('truetype'));
}

$breakpint-tablet: 768px;

// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

section {
  min-height: 100vh;
}

.underline {
  width: 150px; 
  border-top: 2px solid black; 
  margin: 5px auto;
}

// Navbar
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  font-family: Raleway, sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: ease-in-out 0.5s;
}

.scrolled {
  background-color: white;

  .nav-links {
    color: black;

    .nav-link {
      .active {
        border-bottom: 2px solid black;
      }
    }
  }
}

.nav-links {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;

  @media(min-width: $breakpint-tablet) {
    width: 50%;
  }

  a:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
    padding-bottom: 3px;
  }
}

.active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
}

// Landing Page
#landing {
  height: 100vh;
  width: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.title-text {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 1.5rem;
  color: white;

  @media(min-width: $breakpint-tablet) {
    font-size: 2rem;
  }

  p {
    max-width: 100%;
    margin: 2% 0;
    text-shadow: 2px 2px 10px rgba(9, 7, 44, 0.938);

    @media(min-width: $breakpint-tablet) {
      max-width: 60%;
    }
  }
}

.section-text {
  font-size: 3rem;
  margin-top: 2%;
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

// About Page
.about-content {
  margin: 0 2%;
  min-height: 80vh;
  display: flex;
  flex-direction: column-reverse;

  @media(min-width: $breakpint-tablet) {
    flex-direction: row;
    margin: 0 5%;
  }
}

.about-me {
  margin-top: 2%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media(min-width: $breakpint-tablet) {
    width: 50%;
    margin-top: 0;
  }
}

.about-str {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media(min-width: $breakpint-tablet) {
    width: 50%;
  }
}

.icons {
  margin-top: 25%;
  color: rgba(10, 0, 200, 0.5);

  @media(min-width: $breakpint-tablet) {
    margin: 25%;
  }
}

.text-box {
  margin: 7% 0 5% 10%;
  color: rgb(73, 73, 73);

  * {
    margin-top: 2%;
  }

  h3 {
    font-size: 24px;
  }
}

.about-img-container {
  height: 40vh;
  width: 40vh;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.about-me-text {
  width: 100%;
  text-align: center;
  margin: 10% auto;
  color: rgb(73, 73, 73);

  @media(min-width: $breakpint-tablet) {
    width: 60%;
  }
}

// Portfolio
%image-shared {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.portfolio {
  background-color: rgb(245, 245, 245);

  h1 {
    padding-top: 2%;
  }
}

.portfolio-item {
  width: 400px;
  height: 400px;
  margin: 2% 0;
  position: relative;

  &:hover {
    .hide {
      visibility: visible;
      opacity: 1;
    }
  }
}

.portfolio-item-text {
  text-align: center;
  width: 80%;
  margin: 5% auto;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 5%;
}

.bunnyhops {
  @extend %image-shared;
}

.quiz{
  @extend %image-shared;
}

.vanilla-todo {
  @extend %image-shared;
}

.hide {
  display: block;
  background-color: white;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: visibility, 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.hidden-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 1.1rem;

  a {
    margin: 5px;
    padding: 7px 25px;
    border: 1px solid rgb(72, 72, 250);
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: rgb(72, 72, 250);
      color: white;
      cursor: pointer;
    }
  }

  p {
    font-weight: lighter;
    margin-bottom: 7%;
  }
}

// Contact Page
%input-shared {
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  background-color: rgb(240, 240, 240);
  border: none;
  box-shadow: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;

  form {
    width: 70%;

    @media(min-width: $breakpint-tablet) {
      width: 40%;
    }

    p {
      margin: 3%;

      input {
        @extend %input-shared;
        height: 5vh;

        &:focus {
          outline: none;
        }
      }

      textarea {
        @extend %input-shared;
        padding-top: 10px;
        height: 20vh;

        &:focus {
          outline: none;
        }
      }
    }

    button {
      margin: 3%;
      padding: 3% 20% 3% 10px;
      font-size: 18px;
      background-color: rgba(10, 0, 200, 0.5);
      color: white;
      border: 2px solid white;
      transition: 0.3s ease-in-out;

      &:hover {
        border: 2px solid rgba(10, 0, 200, 0.5);
        cursor: pointer;
        background-color: white;
        color:  rgba(10, 0, 200, 0.5);
      }
    }
  }

  h3 {
    color: rgba(10, 0, 200, 0.5);
  }
}

// Footer
footer {
  width: 100%;
  height: 10vh;
  text-align: center;
  background-color: rgb(245, 245, 245);

  p {
    padding: 2%;
    color: rgb(73, 73, 73);
  }
}